// cover some element-ui styles

.el-breadcrumb__inner,
.el-breadcrumb__inner a {
    font-weight: 400 !important;
}

.el-upload {
    input[type='file'] {
        display: none !important;
    }
}
.el-upload-list__item-name {
    font-size: 12px !important;
}

.el-upload__input {
    display: none;
}

// to fixed https://github.com/ElemeFE/element/issues/2461
.el-dialog {
    transform: none;
    left: 0;
    position: relative;
    margin: 0 auto;
}

// refine element ui upload
.upload-container {
    .el-upload {
        width: 100%;

        .el-upload-dragger {
            width: 100%;
            height: 200px;
        }
    }
}

// dropdown
.el-dropdown-menu {
    a {
        display: block;
    }
}

// to fix el-date-picker css style
.el-range-separator {
    box-sizing: content-box;
}

// 去除原生button样式
button:focus {
    outline: none !important;
}

// Button公共样式
.el-button--primary {
    border-radius: 2px;
    background: #185cf6;
    border-color: #185cf6;
    transition: all 0.3s;
    &:hover {
        background: #4080ff;
        border-color: #4080ff;
    }
    &:active {
        background: #0e42d2;
        border-color: #0e42d2;
    }
    &:focus {
        background: #4080ff;
        border-color: #4080ff;
        outline: none;
    }

    &.is-disabled {
        background: #94bfff;
        border-color: #94bfff;
        &:hover {
            background: #94bfff;
            border-color: #94bfff;
        }
    }
}
.el-button--default {
    border-radius: 2px;
    color: #66676a;
    border: 1px solid #f2f3f5;
    background: #f2f3f5;
    transition: all 0.3s;
    &:hover {
        background: #e5e6eb;
        color: #66676a;
        outline: none;
        border: 1px solid #e5e6eb;
    }
    &:active {
        background: #c9cdd4;
        color: #66676a;
        border: 1px solid #c9cdd4;
    }
    &:focus {
        background: #e5e6eb;
        outline: none;
        color: #66676a;
        border: 1px solid #e5e6eb;
    }

    &.is-disabled {
        background: #fafafa;
        color: #c6c7c9;
        border: 1px solid #fafafa;
    }
}
.el-button--danger {
    background: #ff4d4f;
    border-color: #ff4d4f;
    outline: none !important;
    &:hover {
        background: #f76560;
        border-color: #f76560;
    }
    &:active {
        background: #cb2634;
        border-color: #cb2634;
    }
    &:focus {
        background: #f76560;
        border-color: #f76560;
    }
}
.el-button--info {
    background: #f2f3f5;
    border-color: #f2f3f5;
    color: #000000;
    outline: none !important;
    &:hover {
        background: #f2f3f5;
        border-color: #f2f3f5;
        color: #2f2f2f;
    }
    &:active {
        background: #f2f3f5;
        border-color: #f2f3f5;
        color: #2f2f2f;
    }
    &:focus {
        background: #f2f3f5;
        border-color: #f2f3f5;
        color: #2f2f2f;
    }
}
.el-button--warning {
    background: #e8f3ff;
    border-color: #e8f3ff;
    color: #1a71ff;
    outline: none !important;
    &:hover {
        background: #e8f3ff;
        border-color: #e8f3ff;
        color: #4080ff;
    }
    &:active {
        background: #e8f3ff;
        border-color: #e8f3ff;
        color: #1a71ff;
    }
    &:focus {
        background: #e8f3ff;
        border-color: #e8f3ff;
        color: #1a71ff;
    }
}

.el-message-box {
    .el-button--primary {
        color: #ffffff;
        background: #4080ff;
        &:hover {
            background: #4080ff;
            border-color: #4080ff;
        }
    }
}
.el-button--solid {
    border-radius: 2px;
    color: #1a71ff;
    border: 1px solid #1a71ff;
    transition: all 0.3s;
    &:hover {
        background: #ffffff;
        border-color: #4080ff;
        color: #4080ff;
        outline: none;
    }
    &:active {
        background: #ffffff;
        border-color: #0e42d2;
        color: #0e42d2;
    }
    &:focus {
        background: #ffffff;
        border-color: #4080ff;
        outline: none;
        color: #4080ff;
    }
}
.el-button--warn {
    border-radius: 2px;
    background: #ff7d00;
    border-color: #ff7d00;
    transition: all 0.3s;
    color: #ffffff !important;
    &:hover {
        background: rgba(255, 125, 0, 0.9);
        border-color: rgba(255, 125, 0, 0.9);
    }
    &:active {
        background: #ff7d00;
        border-color: #ff7d00;
    }
    &:focus {
        background: #ff7d00;
        border-color: #ff7d00;
        outline: none;
    }
}
.el-button {
    border-radius: 2px;
}

// 链接文字公共样式
.el-button--text {
    color: #1a71ff;
    &:hover {
        color: #4080ff;
    }
    &:focus {
        color: #0e42d2;
    }
}

// Radio公共样式
.el-radio__input.is-checked .el-radio__inner {
    background: #1a71ff;
    border-color: #1a71ff;
}
.el-radio__input.is-checked + .el-radio__label {
    color: #1a71ff;
}
.el-radio__label {
    font-size: 12px;
    font-weight: 400;
}
.el-radio__inner {
    &:hover {
        border-color: #1a71ff;
    }
}

.el-radio-button--small {
    .el-radio-button__inner {
        padding: 5px 12px !important;
        color: #86909c;
        border-color: #c9cdd4;
        box-sizing: border-box;
        &:hover {
            color: #1a71ff;
            border-color: #3782ff;
            box-shadow: -1px 0 0 0 #3782ff;
        }
    }
    .el-radio-button__orig-radio:checked + .el-radio-button__inner {
        color: #1a71ff;
        background: #e8f3ff;
        border-color: #3782ff;
        box-shadow: -1px 0 0 0 #3782ff;
    }
}
.el-radio-button:first-child .el-radio-button__inner {
    border-radius: 1px 0 0 1px;
}
.el-radio-button:last-child .el-radio-button__inner {
    border-radius: 0 1px 1px 0;
}
.el-radio-button:focus {
    box-shadow: none !important;
}
.radio-circle-button {
    .el-radio-button.el-radio-button--small {
        margin-right: 12px;
        margin-bottom: 12px;
        .el-radio-button__inner {
            border-radius: 12px !important;
            border: 1px solid #c9cdd4;
            &:hover {
                border-color: #1a71ff;
                box-shadow: none;
            }
        }
        &:last-child {
            margin-right: 0;
        }
        .el-radio-button__orig-radio:disabled + .el-radio-button__inner {
            color: #c0c4cc !important;
            cursor: not-allowed;
            border-color: #ebeef5 !important;
        }
        .el-radio-button__orig-radio:checked + .el-radio-button__inner {
            color: #1a71ff !important;
            background: #e8f3ff;
            border-color: #3782ff !important;
            box-shadow: none;
        }
    }
}

// 时间范围公共样式
.el-range-editor.is-active,
.el-range-editor.is-active:hover {
    border-color: #185cf6 !important;
}

// Table公共样式
.el-table {
    border: 1px solid #ebeef5;
    border-bottom: none;
    font-size: 12px;
    // table-layout: fixed;

    // header样式
    .el-table__fixed-header-wrapper tr th,
    .el-table__header-wrapper tr th {
        background-color: #f2f3f7;
        color: #474d57;
        font-size: 12px;
        font-family: PingFang SC;
        font-weight: 400;
    }

    // body样式
    .el-table__body-wrapper .el-table__body {
        color: #1d1d29;
    }
    .el-table__body tr.hover-row > td {
        background: #f8fbff;
    }

    // padding样式
    th {
        color: #1d1d29 !important;
    }
    td,
    th {
        padding-top: 6px;
        padding-bottom: 6px;
        & > .cell {
            padding-left: 14px !important;
            padding-right: 14px;
            line-height: 18px;
            // text-overflow: unset !important;
            // white-space: nowrap !important;
        }
    }
    td {
        padding-top: 6px;
        padding-bottom: 6px;
        line-height: 18px;
        & > .cell {
            padding-left: 14px !important;
            padding-right: 14px;
            line-height: 18px;
        }
    }

    // 删除拖拽阴影
    .el-table__body-wrapper.is-scrolling-left ~ .el-table__fixed,
    .el-table__body-wrapper.is-scrolling-none ~ .el-table__fixed,
    .el-table__body-wrapper.is-scrolling-none ~ .el-table__fixed-right,
    .el-table__body-wrapper.is-scrolling-right ~ .el-table__fixed-right {
        // box-shadow: none;
        // border-left: none;
    }
    .el-table__fixed,
    .el-table__fixed-right {
        // box-shadow: none;
        // border-left: 1px solid #ebeef5;
    }
}

// Table baseFontSize
$baseFz: 14px;
@function n2px($n: 1) {
    @return floor($baseFz * $n);
}
// Table公共样式
.base-table .el-table {
    border: 1px solid #ebeef5;
    border-bottom: none;
    font-size: n2px();
    // table-layout: fixed;

    // header样式
    .el-table__fixed-header-wrapper tr th,
    .el-table__header-wrapper tr th {
        background-color: #f2f3f7;
        color: #474d57;
        font-size: n2px();
        font-family: PingFang SC;
        font-weight: 400;
    }

    // body样式
    .el-table__body-wrapper .el-table__body {
        color: #1d1d29;
    }
    .el-table__body tr.hover-row > td {
        background: #f7f8fa;
    }
    &.el-table--enable-row-hover .el-table__body tr:hover > td.el-table__cell {
        background-color: #f7f8fa;
    }

    // TODO: 感觉选中效果不好 斑马纹应该有其他选中颜色
    // .el-table__body tr.current-row > td {
    //     background: #F7F8FA;
    // }
    // .el-table__body tr.el-table__row--striped.current-row td.el-table__cell {
    //     background-color: #F7F8FA;
    // }

    // padding样式
    th {
        color: #1d1d29 !important;
    }
    td,
    th {
        padding-top: n2px(0.85);
        padding-bottom: n2px(0.85);
        & > .cell {
            padding-left: n2px(1.43) !important;
            padding-right: n2px(1.43);
            // line-height: n2px(1.5); 21px -> 20px
            line-height: 20px;
            // text-overflow: unset !important;
            // white-space: nowrap !important;
        }
    }
    td {
        line-height: n2px(1.5);
        .el-tooltip {
            width: 100% !important;
        }
    }

    // 删除拖拽阴影
    .el-table__body-wrapper.is-scrolling-left ~ .el-table__fixed,
    .el-table__body-wrapper.is-scrolling-none ~ .el-table__fixed,
    .el-table__body-wrapper.is-scrolling-none ~ .el-table__fixed-right,
    .el-table__body-wrapper.is-scrolling-right ~ .el-table__fixed-right {
        // box-shadow: none;
        // border-left: none;
    }
    .el-table__fixed,
    .el-table__fixed-right {
        // box-shadow: none;
        // border-left: 1px solid #ebeef5;
    }
}

// Input公共样式
.el-input {
    .el-input__inner {
        border-radius: 2px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        border: 1px solid #cdcdcf;
        color: #1d1d29;
        &:hover {
            border-color: #474d57 !important;
        }
        &:focus {
            border-color: #185cf6 !important;
        }
    }
    &.is-disabled .el-input__inner,
    &.is-disabled .el-input__inner:hover,
    &.is-disabled .el-input__inner:focus {
        background-color: #f5f7fa !important;
        border-color: #e4e7ed !important;
        color: #c0c4cc !important;
        cursor: not-allowed !important;
    }
    // 日期选择框
    &.el-date-editor {
        width: 100%;
    }
}
.is-without-controls {
    .el-input__inner {
        text-align: left;
    }
}
.el-date-editor {
    border-radius: 2px;
}
.el-textarea__inner {
    border-radius: 2px;
    &:focus {
        border-color: #4080ff !important;
    }
}

// Select公共样式
.el-select .el-input.is-focus .el-input__inner {
    border-color: #4080ff;
}

// Pagination分页标签公共样式
.el-pager {
    li.active {
        color: #1a71ff;
    }
    li:hover {
        color: #1a71ff;
    }
}
.el-pagination {
    font-weight: 500;
}
.el-pagination button:hover {
    color: #1a71ff;
}
.el-select-dropdown__item.selected {
    color: #1a71ff;
    font-weight: inherit;
}
.el-pagination .el-select .el-input .el-input__inner {
    border-radius: 2px;
    height: 26px;
}
.el-pagination__editor.el-input .el-input__inner {
    height: 26px;
}

// 确认提示框公共样式
.el-popover {
    padding: 20px;
    .el-popover__title {
        font-size: 14px;
    }
    .el-popconfirm__main {
        margin-bottom: 18px;
        color: #1d2129;
    }
    .el-popconfirm__icon {
        font-size: 22px;
        margin-right: 8px;
    }
}

// dialog公共样式
.el-dialog__headerbtn:hover .el-dialog__close {
    color: #1a71ff;
}
.el-dialog__body {
    font-size: 12px;
}

.dialog-content {
    max-height: calc(90vh - 54px - 30px - 30px - 56px) !important;
}

// 表单公共样式
.table-page-header .el-form {
    &::after {
        content: '';
        display: block;
        clear: both;
    }
}
.el-form-item__label {
    font-weight: 500;
    color: #1d1d29;
}

// el-checkbox公共样式
.el-checkbox {
    .el-checkbox__inner:hover {
        border-color: #185cf6;
        transition: none;
    }
    .el-checkbox__input.is-checked .el-checkbox__inner,
    .el-checkbox__input.is-indeterminate .el-checkbox__inner {
        background: #185cf6;
        border-color: #185cf6;
    }
    .el-checkbox__input.is-focus .el-checkbox__inner {
        border-color: #185cf6;
    }
    .el-checkbox__input.is-checked + .el-checkbox__label {
        color: #1d1d29;
        font-weight: 400;
    }
}

// el-tab公共样式
.el-tabs {
    .el-tabs__nav.is-top {
        .el-tabs__active-bar {
            background: #1a71ff;
        }
        .el-tabs__item {
            color: #86909c;
            position: relative;
            &:hover,
            &.is-top.is-active {
                color: #1a71ff;
            }
            &:focus {
                box-shadow: none !important;
            }
            &:after {
                content: '';
                display: block;
                height: 10px;
                width: 1px;
                background: red;
                // background: #E0E6ED;
                right: 0;
                top: calc(50% - 5px);
            }
        }
    }
    .el-tabs__nav-wrap::after {
        height: 1px;
        background: linear-gradient(0deg, #c9cdd4, #c9cdd4), #e1e3ea;
    }
}

// font-size公共样式
.el-pager li,
.el-pagination button,
.el-pagination span:not([class*='suffix']),
.el-pagination__sizes .el-input .el-input__inner,
.el-date-editor .el-range__icon,
.el-select .el-input .el-select__caret,
.el-select-dropdown__item,
.el-form-item__label,
.el-form-item__content,
.el-checkbox__label,
.el-button--medium,
.el-input--medium,
.el-menu-item,
.el-popover,
.el-input {
    font-size: 12px;
}

// hight、line-hight行高变更
.el-input--medium .el-input__icon,
.el-input--medium .el-input__inner {
    height: 26px;
    line-height: 26px;
}
.el-range-editor--medium.el-input__inner {
    height: 26px;
    .el-input__icon {
        line-height: 19px;
    }
    .el-range-separator {
        line-height: 19px;
    }
}

.el-button.el-button--warning,
.el-button.el-button--warn,
.el-button.el-button--info,
.el-button.el-button--danger,
.el-button.el-button--solid,
.el-button.el-button--primary,
.el-button.el-button--default {
    height: 26px;
    padding: 0 16px;
}
.el-button.el-button--text {
    padding-top: 0;
    padding-bottom: 0;
}
.el-input-number--medium {
    line-height: 24px;
}
.el-input-number.is-controls-right[class*='medium'] [class*='decrease'],
.el-input-number.is-controls-right[class*='medium'] [class*='increase'] {
    height: 12px;
    line-height: 11px;
}
.el-form-item--medium .el-form-item__content,
.el-form-item--medium .el-form-item__label {
    line-height: 26px;
}

// delete focus 样式
.text-red-500.hover\:text-red-400:focus {
    color: rgb(255, 7, 7);
}

// 列表无数据样式
.el-select-dropdown__empty {
    font-size: 12px;
}
